
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#22262A;
}

.container {
    margin: 0 auto;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px 0;
}

/* Estilos específicos para la lista de lectura */

.lectura {
    background-color: #343a40;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:white;
}

table {
    border-collapse: collapse;
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
}

th {
    background-color: #ff3737;
    color: white;
}

tr {
    background-color: #f2f2f2;
}

form {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
    color:rgb(255, 255, 255);
}

select {
    padding: 10px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ff3737;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #ff3737;
}

.volver {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    background-color: #ddd;
    padding: 10px 20px;
    border-radius: 4px;
}

.footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

td{
    color:black;
    text-align: center;
}

.container >a{
    color:white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ff3737;
    border-radius: 4px;
    font-size: 13px;
}

td:last-child{
    text-align: left;
    display: flex;
    gap:30px
}

h1+form{
    display: flex;
    gap: 20px;
    align-items: center;
}

.estado{
    color:black;
}

.select{
    margin-right: 20px;
}

.agregar{
    color:white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ff3737;
    border-radius: 4px;
    font-size: 13px;
}